@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      color: #FFF;
    }
    * {
        outline: none;
    }

    body::-webkit-scrollbar {
      width: 0 !important;
    }

    @font-face {
      font-family: Classic Robot;
      font-weight: 400;
      src: url("../font/ClassicRobot.otf") format("opentype");
    }

    @font-face {
      font-family: Dream MMA;
      font-weight: 400;
      src: url("../font/DreamMMA.ttf") format("truetype");
    }

    @font-face {
      font-family: Poppins Regular;
      font-weight: 400;
      src: url("../font/Poppins-Regular.ttf") format("truetype");
    }
    @font-face {
      font-family: Poppins SemiBold;
      font-weight: 400;
      src: url("../font/Poppins-SemiBold.ttf") format("truetype");
    }
  }
