.x-flex-col-x_start-y_center {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: flex-start;
    align-items: center;
}


.x-flex-col-x_center-y_center {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: center;
}

.x-flex-col-x_center-y_start {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: flex-start;
}

.x-flex-x_center-y_start {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: flex-start;
}

.x-flex-x_start-y_start {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: flex-start;
    align-items: flex-start;
}

.x-flex-x-start-y-end {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: flex-start;
    align-items: end;
}

.x-flex-wrap-x_start-y_start {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: flex-start;
    align-items: flex-start;
}

.x-flex-x_start-y_center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: flex-start;
    align-items: center;
}

.x-flex-x_between-y_center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: space-between;
    align-items: center;
}


.x-flex-justify-between {
    justify-content: space-between;
}

.x-flex-item-grow {
    flex-grow: 1;
}

.x-flex-item-shrink0 {
    flex-shrink: 0;
}

.x-flex-item-center {
    align-self: center;
}

.x-flex-item-end {
    align-self: flex-end;
}

.x-flex-item-start {
    align-self: flex-start;
}


/*
.x-flex-x_start-y_start,
.x-flex-x_start-y_end,
.x-flex-x_start-y_center,
.x-flex-x_start-y_stretch,
.x-flex-x_start-y_baseline,
.x-flex-x_end-y_start,
.x-flex-x_end-y_end,
.x-flex-x_end-y_center,
.x-flex-x_end-y_stretch,
.x-flex-x_end-y_baseline,
.x-flex-x_center-y_start,
.x-flex-x_center-y_end,
.x-flex-x_center-y_center,
.x-flex-x_center-y_stretch,
.x-flex-x_center-y_baseline,
.x-flex-x_between-y_start,
.x-flex-x_between-y_end,
.x-flex-x_between-y_center,
.x-flex-x_between-y_stretch,
.x-flex-x_between-y_baseline,
.x-flex-x_around-y_start,
.x-flex-x_around-y_end,
.x-flex-x_around-y_center,
.x-flex-x_around-y_stretch,
.x-flex-x_around-y_baseline {
  display : flex;
  flex-direction : row;
  flex-wrap : nowrap;
}


.x-flex-x_start-y_start,
.x-flex-x_start-y_end,
.x-flex-x_start-y_center,
.x-flex-x_start-y_stretch,
.x-flex-x_start-y_baseline {
  justify-content : flex-start;
}



.x-flex-x_end-y_start,
.x-flex-x_end-y_end,
.x-flex-x_end-y_center,
.x-flex-x_end-y_stretch,
.x-flex-x_end-y_baseline {
  justify-content : flex-end;
}


.x-flex-x_center-y_start,
.x-flex-x_center-y_end,
.x-flex-x_center-y_center,
.x-flex-x_center-y_stretch,
.x-flex-x_center-y_baseline {
  justify-content : center;
}


.x-flex-x_between-y_start,
.x-flex-x_between-y_end,
.x-flex-x_between-y_center,
.x-flex-x_between-y_stretch,
.x-flex-x_between-y_baseline {
  justify-content : space-between;
}


.x-flex-x_around-y_start,
.x-flex-x_around-y_end,
.x-flex-x_around-y_center,
.x-flex-x_around-y_stretch,
.x-flex-x_around-y_baseline {
  justify-content : space-around;
}


.x-flex-x_around-y_start,
.x-flex-x_between-y_start,
.x-flex-x_center-y_start,
.x-flex-x_end-y_start,
.x-flex-x_start-y_start {
  align-items : flex-start;
}


.x-flex-x_around-y_end,
.x-flex-x_between-y_end,
.x-flex-x_center-y_end,
.x-flex-x_end-y_end,
.x-flex-x_start-y_end {
  align-items: flex-end;
}


.x-flex-x_around-y_center,
.x-flex-x_between-y_center,
.x-flex-x_center-y_center,
.x-flex-x_end-y_center,
.x-flex-x_start-y_center {
  align-items : center;
}


.x-flex-x_around-y_stretch,
.x-flex-x_between-y_stretch,
.x-flex-x_center-y_stretch,
.x-flex-x_end-y_stretch,
.x-flex-x_start-y_stretch{
  align-items : stretch;
}


.x-flex-x_around-y_baseline,
.x-flex-x_between-y_baseline,
.x-flex-x_center-y_baseline,
.x-flex-x_end-y_baseline,
.x-flex-x_start-y_baseline {
  align-items : baseline;
}


.x-flex-col-x_start-y_start
  @extend .x-flex-x_start-y_start
.x-flex-col-x_start-y_end
  @extend .x-flex-x_start-y_end
.x-flex-col-x_start-y_center
  @extend .x-flex-x_start-y_center
.x-flex-col-x_start-y_stretch
  @extend .x-flex-x_start-y_stretch
.x-flex-col-x_start-y_baseline
  @extend .x-flex-x_start-y_baseline
.x-flex-col-x_end-y_start
  @extend .x-flex-x_end-y_start
.x-flex-col-x_end-y_end
  @extend .x-flex-x_end-y_end
.x-flex-col-x_end-y_center
  @extend .x-flex-x_end-y_center
.x-flex-col-x_end-y_stretch
  @extend .x-flex-x_end-y_stretch
.x-flex-col-x_end-y_baseline
  @extend .x-flex-x_end-y_baseline
.x-flex-col-x_center-y_start
  @extend .x-flex-x_center-y_start
.x-flex-col-x_center-y_end
  @extend .x-flex-x_center-y_end
.x-flex-col-x_center-y_center
  @extend .x-flex-x_center-y_center
.x-flex-col-x_center-y_stretch
  @extend .x-flex-x_center-y_stretch
.x-flex-col-x_center-y_baseline
  @extend .x-flex-x_center-y_baseline
.x-flex-col-x_between-y_start
  @extend .x-flex-x_between-y_start
.x-flex-col-x_between-y_end
  @extend .x-flex-x_between-y_end
.x-flex-col-x_between-y_center
  @extend .x-flex-x_between-y_center
.x-flex-col-x_between-y_stretch
  @extend .x-flex-x_between-y_stretch
.x-flex-col-x_between-y_baseline
  @extend .x-flex-x_between-y_baseline
.x-flex-col-x_around-y_start
  @extend .x-flex-x_around-y_start
.x-flex-col-x_around-y_end
  @extend .x-flex-x_around-y_end
.x-flex-col-x_around-y_center
  @extend .x-flex-x_around-y_center
.x-flex-col-x_around-y_stretch
  @extend .x-flex-x_around-y_stretch
.x-flex-col-x_around-y_baseline
  @extend .x-flex-x_around-y_baseline


.x-flex-col-x_start-y_start
.x-flex-col-x_start-y_end
.x-flex-col-x_start-y_center
.x-flex-col-x_start-y_stretch
.x-flex-col-x_start-y_baseline
.x-flex-col-x_end-y_start
.x-flex-col-x_end-y_end
.x-flex-col-x_end-y_center
.x-flex-col-x_end-y_stretch
.x-flex-col-x_end-y_baseline
.x-flex-col-x_center-y_start
.x-flex-col-x_center-y_end
.x-flex-col-x_center-y_center
.x-flex-col-x_center-y_stretch
.x-flex-col-x_center-y_baseline
.x-flex-col-x_between-y_start
.x-flex-col-x_between-y_end
.x-flex-col-x_between-y_center
.x-flex-col-x_between-y_stretch
.x-flex-col-x_between-y_baseline
.x-flex-col-x_around-y_start
.x-flex-col-x_around-y_end
.x-flex-col-x_around-y_center
.x-flex-col-x_around-y_stretch
.x-flex-col-x_around-y_baseline
  flex-direction column


.x-flex-wrap-x_start-y_start
  @extend .x-flex-x_start-y_start
.x-flex-wrap-x_start-y_end
  @extend .x-flex-x_start-y_end
.x-flex-wrap-x_start-y_center
  @extend .x-flex-x_start-y_center
.x-flex-wrap-x_start-y_stretch
  @extend .x-flex-x_start-y_stretch
.x-flex-wrap-x_start-y_baseline
  @extend .x-flex-x_start-y_baseline
.x-flex-wrap-x_end-y_start
  @extend .x-flex-x_end-y_start
.x-flex-wrap-x_end-y_end
  @extend .x-flex-x_end-y_end
.x-flex-wrap-x_end-y_center
  @extend .x-flex-x_end-y_center
.x-flex-wrap-x_end-y_stretch
  @extend .x-flex-x_end-y_stretch
.x-flex-wrap-x_end-y_baseline
  @extend .x-flex-x_end-y_baseline
.x-flex-wrap-x_center-y_start
  @extend .x-flex-x_center-y_start
.x-flex-wrap-x_center-y_end
  @extend .x-flex-x_center-y_end
.x-flex-wrap-x_center-y_center
  @extend .x-flex-x_center-y_center
.x-flex-wrap-x_center-y_stretch
  @extend .x-flex-x_center-y_stretch
.x-flex-wrap-x_center-y_baseline
  @extend .x-flex-x_center-y_baseline
.x-flex-wrap-x_between-y_start
  @extend .x-flex-x_between-y_start
.x-flex-wrap-x_between-y_end
  @extend .x-flex-x_between-y_end
.x-flex-wrap-x_between-y_center
  @extend .x-flex-x_between-y_center
.x-flex-wrap-x_between-y_stretch
  @extend .x-flex-x_between-y_stretch
.x-flex-wrap-x_between-y_baseline
  @extend .x-flex-x_between-y_baseline
.x-flex-wrap-x_around-y_start
  @extend .x-flex-x_around-y_start
.x-flex-wrap-x_around-y_end
  @extend .x-flex-x_around-y_end
.x-flex-wrap-x_around-y_center
  @extend .x-flex-x_around-y_center
.x-flex-wrap-x_around-y_stretch
  @extend .x-flex-x_around-y_stretch
.x-flex-wrap-x_around-y_baseline
  @extend .x-flex-x_around-y_baseline


.x-flex-wrap-x_start-y_start
.x-flex-wrap-x_start-y_end
.x-flex-wrap-x_start-y_center
.x-flex-wrap-x_start-y_stretch
.x-flex-wrap-x_start-y_baseline
.x-flex-wrap-x_end-y_start
.x-flex-wrap-x_end-y_end
.x-flex-wrap-x_end-y_center
.x-flex-wrap-x_end-y_stretch
.x-flex-wrap-x_end-y_baseline
.x-flex-wrap-x_center-y_start
.x-flex-wrap-x_center-y_end
.x-flex-wrap-x_center-y_center
.x-flex-wrap-x_center-y_stretch
.x-flex-wrap-x_center-y_baseline
.x-flex-wrap-x_between-y_start
.x-flex-wrap-x_between-y_end
.x-flex-wrap-x_between-y_center
.x-flex-wrap-x_between-y_stretch
.x-flex-wrap-x_between-y_baseline
.x-flex-wrap-x_around-y_start
.x-flex-wrap-x_around-y_end
.x-flex-wrap-x_around-y_center
.x-flex-wrap-x_around-y_stretch
.x-flex-wrap-x_around-y_baseline
  flex-wrap wrap
*/


